.singleuser {
  display: flex;
  width: 100%;
}

.singleuser .top {
  padding: 20px;
  display: flex;
  gap: 20px;
  border: 1px solid red;
}

.singleuser .top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  position: relative;
  padding-inline: 20px;
}

.singleuser .top .left .Edite {
  position: absolute;
  top: 0;
  right: 0;
  color: #7451f8;
  background-color: #7451f8;
}

.singleuser .top .left .items {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid blue;
}

.singleuser .top .left .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
