.newUser
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .top,.bottom 
    {
        h1{
            color: lightgray;
            font-size: 20px;
        }
        width: 100%;
        -webkit-box-shadow: 2px 4px 10px 1px rgba($color: #000, $alpha: 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        .left
        {
            flex: 1;
            text-align: center;
            img
            {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                -webkit-box-shadow: 2px 4px 10px 1px rgba($color: #000, $alpha: 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            }
        }
        .right
        {
            flex: 2;
        }
    }
}