.datatable {
    height: 95%;
    padding: 20px;

    .CellwidthImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellwidthStatus {
        padding: 5px;
        border-radius: 5px;


        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.passive {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: .9375rem;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: blue;

        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;


        }
    }

    .addresses {
        overflow: auto;
        height: 50px;

        li {
            display: flex;
        }
    }
}